.gmenu {
  color: #eee; }
  .gmenu a {
    background-color: #070711;
    color: #eee;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    outline: 0;
    display: block; }
    .gmenu a:active {
      background-color: black;
      color: #d4d4d4; }
  .gmenu ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .gmenu li {
    display: block;
    list-style: none;
    background-color: #070711; }
    .gmenu li a {
      display: block; }
    .gmenu li.gmenu-active > a {
      background-color: #161635; }
    .gmenu li.gmenu-active > ul {
      z-index: 10;
      margin-left: 10%;
      width: 90%;
      display: block; }
    .gmenu li.gmenu-submenu:before {
      cursor: pointer;
      text-align: center;
      float: left;
      width: 1.375em;
      content: '+';
      padding: 1em;
      margin-right: 1em;
      background-color: #161635; }
    .gmenu li div {
      padding: 1em;
      background-color: #070711; }
  .gmenu .gmenu-burger {
    min-width: 1.4em;
    text-align: center;
    z-index: 20;
    display: inline-block; }
  .gmenu.gmenu-active:after, .gmenu.gmenu-active .gmenu-active:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0, 0, 0, 0.5); }
  .gmenu.gmenu-active .gmenu-burger {
    z-index: 20;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    position: absolute !important; }
    .gmenu.gmenu-active .gmenu-burger:after {
      content: 'Close menu';
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 1em 0;
      width: auto;
      z-index: 20;
      cursor: pointer; }
  .gmenu.gmenu-active ul {
    padding-top: 3.375em; }
  .gmenu.gmenu-active > ul {
    z-index: 10;
    display: block;
    background-color: black; }

@media (min-width: 479px) {
  .gmenu a:hover {
    background-color: #161635; }
  .gmenu, .gmenu.gmenu-active {
    zoom: 1; }
    .gmenu > ul:after, .gmenu.gmenu-active > ul:after {
      content: '';
      display: table;
      clear: both;
      position: static; }
  .gmenu.gmenu-active:after,
  .gmenu.gmenu-active .gmenu-active .gmenu-active:after {
    display: none; }
  .gmenu.gmenu-active .gmenu-active:after {
    z-index: -1; }
  .gmenu.gmenu-active ul {
    z-index: 10;
    padding: 0;
    background: transparent; }
  .gmenu .gmenu-burger {
    display: none; }
  .gmenu li {
    position: relative; }
    .gmenu li.gmenu-submenu {
      padding-right: 3.375em; }
      .gmenu li.gmenu-submenu:before {
        position: absolute;
        right: 0;
        margin-right: 0; }
    .gmenu li div {
      min-width: 300px; }
    .gmenu li:hover, .gmenu li:hover > a, .gmenu li.gmenu-active, .gmenu li.gmenu-active > a {
      background-color: #161635; }
    .gmenu li:hover:after, .gmenu li.gmenu-active:after {
      display: none; }
    .gmenu li:hover > ul, .gmenu li.gmenu-active > ul {
      z-index: 10;
      display: block;
      width: auto;
      margin-left: 0; }
  .gmenu ul {
    display: block;
    position: relative;
    width: auto; }
  .gmenu > ul > li {
    float: left; }
    .gmenu > ul > li:hover > ul, .gmenu > ul > li.gmenu-active > ul {
      min-width: 100%;
      top: 100%;
      display: block;
      position: absolute; }
    .gmenu > ul > li ul {
      font-weight: normal;
      display: none; }
      .gmenu > ul > li ul li:hover ul, .gmenu > ul > li ul li.gmenu-active ul {
        left: 100%; }
  .gmenu > ul ul {
    position: absolute; }
    .gmenu > ul ul a {
      display: block;
      float: none; }
  .touch .gmenu li:not(.gmenu-active):hover > ul {
    display: none; }
  .no-touch .gmenu li.gmenu-active:after {
    display: none; }
  .no-touch .gmenu li.gmenu-active:not(:hover), .no-touch .gmenu li.gmenu-active:not(:hover) > a {
    background-color: #070711; }
  .no-touch .gmenu li.gmenu-active:not(:hover) > ul {
    display: none; } }

/*# sourceMappingURL=gmenu.css.map */
